@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --web-background: #2B2B2B;
    --web-overlay: #3d3b3b;
    --mobile-background: #050505;
    --primary-color: #E76A3B;
    --secondary-color: #85430F;
    --info: #A9A9A9;
    --input-bg: #F5F5FB;
    --venus: #85430F;
    --text-dark: #151817;
}

body {
    overflow-x: hidden;
    background: var(--web-background);
}

.container {
    margin: 0 auto;
    height: 100vh;
}
/* head section starts here */
#header {
    padding: 36px;
    background-image: url(../assets/space.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-brand {
    display: flex;
}

.nav-brand img {
    width: 30px;
    height: 20px;
}

.nav-brand > div {
    margin-left: 8px;
    text-transform: uppercase;
    color: var(--input-bg);
}

/* head section ends here */

/* hero section starts here */
#header .main {
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-intro h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 71px;
    animation: leftSlideIn .8s forwards;
    -o-animation: leftSlideIn .8s forwards;
    -moz-animation: leftSlideIn .8s forwards;
    -webkit-animation: leftSlideIn .8s forwards;
    animation-delay: .4s;
    opacity: 0;
}

.hero h1, h3, p {
    color: var(--input-bg);
}

.hero-details {
    width: 500px;
    font-size: 22px;
    height: 80px;
    animation: leftSlideIn .8s forwards;
    -o-animation: leftSlideIn .8s forwards;
    -moz-animation: leftSlideIn .8s forwards;
    -webkit-animation: leftSlideIn .8s forwards;
    animation-delay: .8s;
    opacity: 0;
}

.cta {
    font-size: 38px;
    animation: leftSlideIn .8s forwards;
    -o-animation: leftSlideIn .8s forwards;
    -moz-animation: leftSlideIn .8s forwards;
    -webkit-animation: leftSlideIn .8s forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

.facts {
    margin-top: -12%;
}

.fade {
    animation: fadeIn .4s forwards;
    opacity: 0;
    animation-delay: .1s;
}

.facts .facts-intro {
    margin-left: -23%;
}

hr {
    width: 110px;
}

.fact-box {
    width: 150px;
    height: 145px;
    border-radius: 5px;
    border: 1px solid var(--input-bg);
    margin-top: 10px;
    padding: 8px;
    font-size: 15px;
    animation: slideIn .8s ease-in forwards;
    -o-animation: slideIn .8s ease-in forwards;
    -webkit-animation: slideIn .8s ease-in forwards;
    -moz-animation: slideIn .8s ease-in forwards;
    opacity: 0;
}

.one {
    animation-delay: .5s;
}

.two {
     animation-delay: 1s;
} 

.three {
    animation-delay: 1.5s;
}

.fact-box .num {
    padding-top: 5px;
    font-weight: bold;
    padding-bottom: 10px;
}

.facts-container {
    min-width: 100%;
    overflow-x: hidden;
    margin-left: -25%;
}
/* hero section ends here */

/* form section starts here */
.form-container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
}

form {
    display: flex;
}

form input {
    height: 36px;
    padding: 12px;
    width: 430px;
    border-radius: 4px;
    background: var(--input-bg);
    border: none;
    outline: none;
}

input[type="submit"] {
    width: 120px;
    color: var(--text-dark);
    font-weight: bold;
}

input:hover {
    cursor: pointer;
}

form > div {
    margin-left: 30px;
}
/* form section ends here */

/* app pages starts here */
#app_pages {
    background: var(--web-background);
    padding-top: 18px;
    padding-left: 20px;
    margin-top: 2%;
    height: 3150px;
}

.absolute-earth {
    position: absolute;
    margin: auto;
    left: 480px;
    top: 1500px;
}

.pages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.planet {
    z-index: 3;
}

.pages {
    margin: 9%;
}

.planet img {
    width: 360px;
}

.planet-info {
    width: 200px;
    height: 120px;
    margin-left: 7%;
    font-size: 19px;
    padding-bottom: -5%;
}

.planet-info hr {
    width: 23px;
}

.info-num {
    font-weight: bold;
}

.mecury {
    margin-left: -12%;
}

.venus {
    margin-top: 17%;
    margin-left: 4%;
}

.mecury-more {
    margin-left: 5%;
    margin-right: -5%;
}

/* pages overview */
.mecury-question {
    margin-top: 15%;
    margin-left: 6%;
}

.mecury-overview {
    margin-left: -14%;
    margin-top: 15%;
}

.mecury-tour {
    margin-left: 6%;
}

.pages-overview {
    margin-left: 5%;
    margin-top: 8%;
}
/* pages overview ends here */

.info-venus {
    margin-bottom: -10%;
}

.pages-overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.app-cta {
    width: 1000px;
    height: 500px;
    background: var(--web-overlay);
    margin-left: -5%;
    text-align: center;
    margin-top: 15%;
    padding-top: 6%;
    box-shadow: 0 5px 8px 12px rgba(0, 0, 0, 0.05);
}

.get-it {
    font-size: 37px;
    font-weight: bold;
    font-style: normal;
    line-height: 51px;
}

.about-spacesee {
    width: 500px;
    height: 120px;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
}

.sub_btn {
    height: 40px;
    width: 150px;
    background: var(--input-bg);
    border-radius: 4px;
    color: var(--text-dark);
    font-weight: bold;
    border: none;
    outline: none;
}

.sub_btn:hover {
    background: var(--primary-color);
    cursor: pointer;
    color: var(--input-bg);
    transition: all .3s ease-in;
}
/* app pages ends here */

/* keyframes */
@keyframes slideIn {
    0% {
        transform: translateX(24px);
        opacity: .1;
    } 25% {
        opacity: .3;
    } 50% {
        opacity: .6;
    } 70% {
        opacity: .8;
    } 100% {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes leftSlideIn {
    0% {
        transform: translateX(0px);
        opacity: .1;
    } 25% {
        opacity: .3;
    } 50% {
        opacity: .6;
    } 70% {
        opacity: .8;
    } 100% {
        transform: translate(12px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: .1;
    } 25% {
        opacity: .3;
    } 50% {
        opacity: .6;
    } 70% {
        opacity: .8;
    } 100% {
        opacity: 1;
    }
}

/* keyframes ends here */


@media only screen and (max-width: 576px) {
    header, #main {
        padding: 20px;
        margin-left: 3%;
    }

    #main {
        margin-top: 6%;
    }

    .hero-intro h1 {
        font-size: 60px;
        padding-top: 15px;
    }
    
    .cta {
        padding-top: 13px;
    }

    .hero-details {
        width: 100%;
    }

    .hero-details p {
        font-size: 18px;
    }

    .facts-container {
        width: 350px;
        margin-left: -3%;
        display: flex;
        overflow-x: auto;
    }

    .facts-container::-webkit-scrollbar {
        display: none;
    }
    
    .facts .facts-intro {
        margin-left: -1%;
    } 
    
    .facts {
        margin-top: 12%;
        margin-left: 2%;
    }

    .fact-box {
        min-width: 130px;
        height: 150px;
    }

    .facts-intro p {
        font-size: 14px;
    }

    .fact-box {
        margin-top: 7%;
        margin-left: 10px;
    }

    #form {
        margin-top: 9%;
    }

    form {
        display: block;
    }

    form input {
        width: 120%;
        margin-bottom: 3%;
        margin-left: -18%;
    }

    input[type="submit"] {
        width: 100px;
        margin-left: 19%;
        margin-top: 5%;
    }

    .app-cta {
        width: 100%;
        height: 350px;
    }

    .get-it {
        font-size: 18px;
    }
    
    .about-spacesee {
        font-size: 15px;
        width: 100%;
        padding: 17px;
    }

    .app-pages {
        margin: auto;
    }

    .mecury-question, 
    .mecury-tour, 
    .mecury-overview, 
    .venus,
    .mecury-more,
    .mecury {
        margin: auto;
    }

    .planet-info {
        display: none;
    }
}